PORT=5000
CLOUDINARY_CLOUD_NAME=dryj5hb5v
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

PAYTM_ENV=staging
PAYTM_MID=your_paytm_mid
PAYTM_MERCHANT_KEY=your_paytm_merchant_key
PAYTM_WEBSITE=WEBSTAGING
PAYTM_CALLBACK_URL=http://localhost:5000/api/payments/paytm/callback
